<% if @post.errors.any? %>
  <div id="error_explanation" class="flash_style">
    <h2>There were some errors:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :content %>
    <%= f.submit %>
<% end %>